## Importing Libraries.

In [44]:
import requests
import sqlite3
import json
import os

## Create the Api Key

In [45]:
# store the key in an Integration/Environment Variable
API_KEY = os.environ.get("API_KEY")

##Fetching Data (URL)

In [46]:
# function to fetch the data fro URL

def fetch_data(url):
  headers= {"apikey": f"{API_KEY}"}
  response = requests.get(url,  headers= headers)
  if response.status_code == 200:
    return response.json()
  else:
    print(f"Failed to fetch the data. Status code: {response.status_code}")
    return None

## SQLite Connection

In [47]:
# Function to create SQLite table and insert data
def store_data_in_sqlite(data):
    conn = sqlite3.connect('dataExtraction.db')
    cur = conn.cursor()

    # Create a table
    cur.execute('DROP TABLE IF EXISTS populationData')
    cur.execute('CREATE TABLE IF NOT EXISTS populationData (id INTEGER PRIMARY KEY, state TEXT, year INTEGER, population INTEGER, slug TEXT)')

    # Insert data into the table
    for entry in data.get('data', []):
        cur.execute('INSERT INTO populationData (state, year, population, slug) VALUES (?, ?, ?, ?)',
                       (entry.get('State'), entry.get('Year'), entry.get('Population'), entry.get('Slug State')))

    # Commit changes and close the connection
    conn.commit()
    conn.close()

In [48]:
# URL to fetch data from
api_url = "https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest"

# Fetch data from the URL
api_data = fetch_data(api_url)

if api_data:
    # Store data in SQLite
    store_data_in_sqlite(api_data)
    print("Data successfully fetched and stored in SQLite database.")
else:
    print("Failed to fetch data.")

Data successfully fetched and stored in SQLite database.

### Read Data

In [49]:
# Function to fetch and print data from the SQLite database
def retrieve_and_print_data():
    conn = sqlite3.connect('dataExtraction.db')
    cur = conn.cursor()

    # Example: Retrieve and print all data from the 'population_data' table
    cur.execute('SELECT * FROM populationData')
    data = cur.fetchall()


    # Print each row on a new line
    for row in data:
        print(row)

    # Close the connection
    conn.close()

# Call the function to retrieve and print data
retrieve_and_print_data()

(1, 'Alabama', 2021, 4997675, 'alabama')
(2, 'Alaska', 2021, 735951, 'alaska')
(3, 'Arizona', 2021, 7079203, 'arizona')
(4, 'Arkansas', 2021, 3006309, 'arkansas')
(5, 'California', 2021, 39455353, 'california')
(6, 'Colorado', 2021, 5723176, 'colorado')
(7, 'Connecticut', 2021, 3605330, 'connecticut')
(8, 'Delaware', 2021, 981892, 'delaware')
(9, 'District of Columbia', 2021, 683154, 'district-of-columbia')
(10, 'Florida', 2021, 21339762, 'florida')
(11, 'Georgia', 2021, 10625615, 'georgia')
(12, 'Hawaii', 2021, 1453498, 'hawaii')
(13, 'Idaho', 2021, 1811617, 'idaho')
(14, 'Illinois', 2021, 12821813, 'illinois')
(15, 'Indiana', 2021, 6751340, 'indiana')
(16, 'Iowa', 2021, 3179090, 'iowa')
(17, 'Kansas', 2021, 2932099, 'kansas')
(18, 'Kentucky', 2021, 4494141, 'kentucky')
(19, 'Louisiana', 2021, 4657305, 'louisiana')
(20, 'Maine', 2021, 1357046, 'maine')
(21, 'Maryland', 2021, 6148545, 'maryland')
(22, 'Massachusetts', 2021, 6991852, 'massachusetts')
(23, 'Michigan', 2021, 10062512, 'michigan')
(24, 'Minnesota', 2021, 5670472, 'minnesota')
(25, 'Mississippi', 2021, 2967023, 'mississippi')
(26, 'Missouri', 2021, 6141534, 'missouri')
(27, 'Montana', 2021, 1077978, 'montana')
(28, 'Nebraska', 2021, 1951480, 'nebraska')
(29, 'Nevada', 2021, 3059238, 'nevada')
(30, 'New Hampshire', 2021, 1372175, 'new-hampshire')
(31, 'New Jersey', 2021, 9234024, 'new-jersey')
(32, 'New Mexico', 2021, 2109366, 'new-mexico')
(33, 'New York', 2021, 20114745, 'new-york')
(34, 'North Carolina', 2021, 10367022, 'north-carolina')
(35, 'North Dakota', 2021, 773344, 'north-dakota')
(36, 'Ohio', 2021, 11769923, 'ohio')
(37, 'Oklahoma', 2021, 3948136, 'oklahoma')
(38, 'Oregon', 2021, 4207177, 'oregon')
(39, 'Pennsylvania', 2021, 12970650, 'pennsylvania')
(40, 'Rhode Island', 2021, 1091949, 'rhode-island')
(41, 'South Carolina', 2021, 5078903, 'south-carolina')
(42, 'South Dakota', 2021, 881785, 'south-dakota')
(43, 'Tennessee', 2021, 6859497, 'tennessee')
(44, 'Texas', 2021, 28862581, 'texas')
(45, 'Utah', 2021, 3231370, 'utah')
(46, 'Vermont', 2021, 641637, 'vermont')
(47, 'Virginia', 2021, 8582479, 'virginia')
(48, 'Washington', 2021, 7617364, 'washington')
(49, 'West Virginia', 2021, 1801049, 'west-virginia')
(50, 'Wisconsin', 2021, 5871661, 'wisconsin')
(51, 'Wyoming', 2021, 576641, 'wyoming')
(52, 'Puerto Rico', 2021, 3311274, 'puerto-rico')

## CURD Operations.

### Update data

In [50]:
# Function to update data in the SQLite database
def update_data(table_name, new_entry, row_id):
    conn = sqlite3.connect('dataExtraction.db')
    cur = conn.cursor()

    # Update the population of a specific row in the specified table
    # cur.execute(f'SELECT {table_name} FROM populationData UPDATE {table_name} SET population = ? WHERE id = ?', (new_entry, row_id))
    cur.execute(f'UPDATE {table_name} SET population = ? WHERE id = ?', (new_entry, row_id))

    # Commit changes and close the connection
    conn.commit()
    conn.close()


# Update data in the Population table
update_data('populationData', 999999, 1)

# Retrieve and print updated Population data
print("\nUpdated Poopulation Data:")
retrieve_and_print_data()

Updated Poopulation Data:
(1, 'Alabama', 2021, 999999, 'alabama')
(2, 'Alaska', 2021, 735951, 'alaska')
(3, 'Arizona', 2021, 7079203, 'arizona')
(4, 'Arkansas', 2021, 3006309, 'arkansas')
(5, 'California', 2021, 39455353, 'california')
(6, 'Colorado', 2021, 5723176, 'colorado')
(7, 'Connecticut', 2021, 3605330, 'connecticut')
(8, 'Delaware', 2021, 981892, 'delaware')
(9, 'District of Columbia', 2021, 683154, 'district-of-columbia')
(10, 'Florida', 2021, 21339762, 'florida')
(11, 'Georgia', 2021, 10625615, 'georgia')
(12, 'Hawaii', 2021, 1453498, 'hawaii')
(13, 'Idaho', 2021, 1811617, 'idaho')
(14, 'Illinois', 2021, 12821813, 'illinois')
(15, 'Indiana', 2021, 6751340, 'indiana')
(16, 'Iowa', 2021, 3179090, 'iowa')
(17, 'Kansas', 2021, 2932099, 'kansas')
(18, 'Kentucky', 2021, 4494141, 'kentucky')
(19, 'Louisiana', 2021, 4657305, 'louisiana')
(20, 'Maine', 2021, 1357046, 'maine')
(21, 'Maryland', 2021, 6148545, 'maryland')
(22, 'Massachusetts', 2021, 6991852, 'massachusetts')
(23, 'Michigan', 2021, 10062512, 'michigan')
(24, 'Minnesota', 2021, 5670472, 'minnesota')
(25, 'Mississippi', 2021, 2967023, 'mississippi')
(26, 'Missouri', 2021, 6141534, 'missouri')
(27, 'Montana', 2021, 1077978, 'montana')
(28, 'Nebraska', 2021, 1951480, 'nebraska')
(29, 'Nevada', 2021, 3059238, 'nevada')
(30, 'New Hampshire', 2021, 1372175, 'new-hampshire')
(31, 'New Jersey', 2021, 9234024, 'new-jersey')
(32, 'New Mexico', 2021, 2109366, 'new-mexico')
(33, 'New York', 2021, 20114745, 'new-york')
(34, 'North Carolina', 2021, 10367022, 'north-carolina')
(35, 'North Dakota', 2021, 773344, 'north-dakota')
(36, 'Ohio', 2021, 11769923, 'ohio')
(37, 'Oklahoma', 2021, 3948136, 'oklahoma')
(38, 'Oregon', 2021, 4207177, 'oregon')
(39, 'Pennsylvania', 2021, 12970650, 'pennsylvania')
(40, 'Rhode Island', 2021, 1091949, 'rhode-island')
(41, 'South Carolina', 2021, 5078903, 'south-carolina')
(42, 'South Dakota', 2021, 881785, 'south-dakota')
(43, 'Tennessee', 2021, 6859497, 'tennessee')
(44, 'Texas', 2021, 28862581, 'texas')
(45, 'Utah', 2021, 3231370, 'utah')
(46, 'Vermont', 2021, 641637, 'vermont')
(47, 'Virginia', 2021, 8582479, 'virginia')
(48, 'Washington', 2021, 7617364, 'washington')
(49, 'West Virginia', 2021, 1801049, 'west-virginia')
(50, 'Wisconsin', 2021, 5871661, 'wisconsin')
(51, 'Wyoming', 2021, 576641, 'wyoming')
(52, 'Puerto Rico', 2021, 3311274, 'puerto-rico')

In above output population has change to '9999999' for row '1'

### Delete Data

In [51]:
# Function to delete a row from the SQLite database
def delete_data(table_name, row_id):
    conn = sqlite3.connect('dataExtraction.db')
    cur = conn.cursor()

    # Delete a specific row from the specified table
    cur.execute(f'DELETE FROM {table_name} WHERE id = ?', (row_id,))

    # Commit changes and close the connection
    conn.commit()
    conn.close()


# Delete a row in the Population table
delete_data('populationData', 2)

# Retrieve and print updated Population data after deletion
print("\nPoopulation Data After Deletion:")
retrieve_and_print_data()

Poopulation Data After Deletion:
(1, 'Alabama', 2021, 999999, 'alabama')
(3, 'Arizona', 2021, 7079203, 'arizona')
(4, 'Arkansas', 2021, 3006309, 'arkansas')
(5, 'California', 2021, 39455353, 'california')
(6, 'Colorado', 2021, 5723176, 'colorado')
(7, 'Connecticut', 2021, 3605330, 'connecticut')
(8, 'Delaware', 2021, 981892, 'delaware')
(9, 'District of Columbia', 2021, 683154, 'district-of-columbia')
(10, 'Florida', 2021, 21339762, 'florida')
(11, 'Georgia', 2021, 10625615, 'georgia')
(12, 'Hawaii', 2021, 1453498, 'hawaii')
(13, 'Idaho', 2021, 1811617, 'idaho')
(14, 'Illinois', 2021, 12821813, 'illinois')
(15, 'Indiana', 2021, 6751340, 'indiana')
(16, 'Iowa', 2021, 3179090, 'iowa')
(17, 'Kansas', 2021, 2932099, 'kansas')
(18, 'Kentucky', 2021, 4494141, 'kentucky')
(19, 'Louisiana', 2021, 4657305, 'louisiana')
(20, 'Maine', 2021, 1357046, 'maine')
(21, 'Maryland', 2021, 6148545, 'maryland')
(22, 'Massachusetts', 2021, 6991852, 'massachusetts')
(23, 'Michigan', 2021, 10062512, 'michigan')
(24, 'Minnesota', 2021, 5670472, 'minnesota')
(25, 'Mississippi', 2021, 2967023, 'mississippi')
(26, 'Missouri', 2021, 6141534, 'missouri')
(27, 'Montana', 2021, 1077978, 'montana')
(28, 'Nebraska', 2021, 1951480, 'nebraska')
(29, 'Nevada', 2021, 3059238, 'nevada')
(30, 'New Hampshire', 2021, 1372175, 'new-hampshire')
(31, 'New Jersey', 2021, 9234024, 'new-jersey')
(32, 'New Mexico', 2021, 2109366, 'new-mexico')
(33, 'New York', 2021, 20114745, 'new-york')
(34, 'North Carolina', 2021, 10367022, 'north-carolina')
(35, 'North Dakota', 2021, 773344, 'north-dakota')
(36, 'Ohio', 2021, 11769923, 'ohio')
(37, 'Oklahoma', 2021, 3948136, 'oklahoma')
(38, 'Oregon', 2021, 4207177, 'oregon')
(39, 'Pennsylvania', 2021, 12970650, 'pennsylvania')
(40, 'Rhode Island', 2021, 1091949, 'rhode-island')
(41, 'South Carolina', 2021, 5078903, 'south-carolina')
(42, 'South Dakota', 2021, 881785, 'south-dakota')
(43, 'Tennessee', 2021, 6859497, 'tennessee')
(44, 'Texas', 2021, 28862581, 'texas')
(45, 'Utah', 2021, 3231370, 'utah')
(46, 'Vermont', 2021, 641637, 'vermont')
(47, 'Virginia', 2021, 8582479, 'virginia')
(48, 'Washington', 2021, 7617364, 'washington')
(49, 'West Virginia', 2021, 1801049, 'west-virginia')
(50, 'Wisconsin', 2021, 5871661, 'wisconsin')
(51, 'Wyoming', 2021, 576641, 'wyoming')
(52, 'Puerto Rico', 2021, 3311274, 'puerto-rico')